
# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.vscode/

# Config file for the api 
config.py
KDB_init.py
runningQfromPython.py
yfinance API call.py
db_config.ini
src/Backtesting/script.py
